*~
#*
*.pmi
_build/
pml.install
src/config.ml
*/*.merlin
local/
book/pml_book.aux
book/pml_book.bbl
book/pml_book.blg
book/pml_book.log
book/pml_book.out
book/pml_book.pdf
book/pml_book.toc
book/part2_theory/chap2_types/new_types.aux
book/part2_theory/chap2_types/new_types.log
book/part2_theory/chap2_types/new_types.pdf
book/part2_theory/chap2_types/new_types.out